@font-face {
  font-family: "FiraCode";
  font-weight: 400;
  src: url("../fonts/FiraCode-Regular.ttf") format("woff");
}
@font-face {
  font-family: "FiraCode";
  font-weight: 500;
  src: url("../fonts/FiraCode-Medium.ttf") format("woff");
}
@font-face {
  font-family: "FiraCode";
  font-weight: 600;
  src: url("../fonts/FiraCode-SemiBold.ttf") format("woff");
}
@font-face {
  font-family: "NixGon";
  font-weight: 500;
  src: url("../fonts/NIXGONFONTS_M_2.0.ttf") format("woff");
}
@font-face {
  font-family: "NixGon";
  font-weight: 600;
  src: url("../fonts/NIXGONFONTS_B_2.0.ttf") format("woff");
}
