@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

body {
  font-family: "NixGon";
  font-weight: 500;
}

#root {
  margin: 0 120px;
  min-height: 100vh;
}

.eng {
  font-family: "FiraCode";
}
